/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #ffffff;
    background: url(background.jpg) no-repeat center center fixed;
    background-size: cover;
    position: relative;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* 50% opacity black overlay */
    z-index: -1;
}

/* Header */
header {
    text-align: center;
    background: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 10px;
}

/* Header Title */
header h1 {
    font-size: 2.5em;
}

/* Header Description */
header p {
    font-size: 1.2em;
}

/* Main Content */
main {
    text-align: center;
    padding: 40px;
    padding-bottom:100px;
}

/* Issue List Section */
.issues-list {
    background: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
}

/* Issue List Title */
.issues-list h2 {
    font-size: 2em;
    color: #ffffff;
}

/* Issue List Items */
.issues-list ul {
    list-style: none;
    padding: 0;
}

.issues-list li {
    background: rgba(255, 255, 255, 0.2);
    margin: 10px auto;
    padding: 15px;
    width: 60%;
    border-radius: 10px;
    transition: 0.3s;
}

.issues-list li:hover {
    background: rgba(255, 255, 255, 0.4);
}

.issues-list a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.5em;
    font-weight: bold;
}

.feedback {
    background: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 10px;
    margin-top: 5px;
    display: inline-block;
}

.feedback-button {
    display: inline-block;
    padding: 15px 25px;
    margin-top: 10px;
    background-color: #3498db;
    color: #fff;
    font-size: 1.2em;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s;
}

.feedback-button:hover {
    background-color: #2980b9;
}


.slideshow-container {
        position: relative;
        max-width: 50%;
        margin: auto;
        overflow:hidden;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    }

    .slide{
        display: none;
        width: 100%;
    }

    .slide img{
        width: 100%;
        border-radius: 10px;
    }


    .headline-list{
        text-align: center;
        margin-top: 40px;
    }

    .headline-list ul{
        list-style:none;
        padding: 0;
    }

    .headline-list li{
        background: rgba(255, 255, 255, 0.2);
        margin: 10px auto;
        padding: 15px;
        width: 60%;
        transition: 0.3s;
    }

    .headline-list li:hover{
        background:rgba(255,255,255,0.4);
    }

    .headline-list a{
        text-decoration: none;
        color:#ffffff;
        font-size: 1.2em;
        font-weight: bold;
    }